:root {
  font-family: sans-serif;
  overflow-x: hidden;
}

input[type=text] {
  width: 300px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #aaa;
}

#controls > * {
  margin: 1em 0;
}

#costBreakdown {
  display: none;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: .25rem;
  margin-top: .25rem;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #666;
  margin: 15px;
}

td, th {
  padding: 0.45rem 0.85rem;
}

td {
  border: 1px solid #c6c6c6;
}

th {
  border: 1px solid #333;
  background-color: #ddd;
}

#error {
  display: none;
}

.taskGroupControls {
  display: flex;
  gap: 0.5em;
}

#taskGroups {
  display: none; /* flex */

  table {
    align-self: start;
  }
}

#taskGroupTasks {
  margin-left: 10px;
  flex: 1;
  position: relative;
  min-height: 500px;
  display: none;

  & div {
    position: absolute;
    inset: 0;
    overflow: auto;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
  }

  & table {
    margin: 4px;
  }
}

body {
  margin-bottom: 5em;
}

thead h2 {
  margin: 2px;
  text-align: center;
}

#label {
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 800px;
  margin: 15px;
  font-weight: bold;
}
