:root {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  line-height: 1.5;
}

input[type='text'] {
  padding: 5px;
  margin-inline-end: 9px;
  width: 400px;
}

.wrapper {
  max-width: 500px;
}

form {
  margin: 30px 0;
}

#fetchDependentTasks {
  margin-block: 16px;
}

.serverWrapper {
  opacity: 0.6;
  border-top: 1px solid #aaa;
  padding-top: 32px;
}

.inputLabel {
  display: block;
  color: #007ce9;
  font-weight: bold;
}

#info {
  display: none;
  border: 1px solid #007ce9;
  background: #d6ecff;
  border-radius: 4px;
  padding: 10px;
}
