:root {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: .25rem;
  margin-top: .25rem;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #666;
}

.models-table {
  display: none;
}

.table-overflow {
  max-width: 100%;
  padding: 1px;
  overflow-x: auto;
}

th {
  background-color: #aaa;
}

td, th {
  border: 0.9px solid #c6c6c6;
  padding: 0.45rem 0.85rem;
  text-wrap: nowrap;

  & span {
    background-color: #cbcbcbcc;
    padding: 3px 6px;
    display: inline-block;
    margin: -3px 0 -3px 10px;
    border-radius: 3px;
  }
}

#error {
  display: none;
}

/* Model name */
td:nth-child(2) {
  background-color: #eee;
  font-family: monospace;
  border-right: 2px solid #bebebe;
}

/* What is running */
td:nth-child(8) {
  border-left: 2px solid #bebebe;
}
td:nth-child(8),
td:nth-child(9),
td:nth-child(10),
td:nth-child(11),
td:nth-child(12),
td:nth-child(13) {
  background: #eee;
}


#controls {
  margin: 1em;
  & input[type=text] {
    width: 200px;
  }
}

.older-taskgroup {
  background: #ddd;
  opacity: 0.75;
}

.taskGroupCell {
  display: flex;
  & a {
    flex: 1;
  }
  & button {
    margin-inline-start: 6px;
  }
}
